header {
	position: relative;
	height: 50vh;
	background: url(../image/home1.jpg) center / cover;
}

header h1 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	color:#1f1f1f;
	font-size:9em;
	font-family: Monotype Corsiva;
	}

header nav ul{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0 15%;
	background-color: rgba(255,255,255, 0.5);
	display: flex;
	}

header nav ul li {
	width: 20%;
	}

header nav ul li a{
	text-decoration: none;
	font-size: 25px;
	line-height: 60px;
	color: #000000;
	}

header nav ul li a:hover{
	opacity: 0.5;
	}
main {
	padding: 30px 5%;
	display: flex;
	background: #1f1f1f;
	}

main h2{
	font-size: 2em;
	margin: 0 0 30px 5px;
	color: #eeeeee;
	}

main .sidebar {
	width: 450px;
	}

main .sidebar ul{
	list-style: none;
	}

main .sidebar ul li a {
	text-decoration: none;
	font-size: 20px;
	line-height: 40px;
	color: #fff;
	}

main .sidebar ul li a:hover{
	opacity: 0.5;
	}

main .maincol .item-box {
	width: 200px;
	float: left;
	margin: 7px;
	text-align: center;
	}

main .maincol .item-img {
	width: 100%;
	height: 300px;
	border-radius:11px;
	object-fit: cover;
	}
main .maincol .item-name,
main .maincol .item-price {
	color: #fff;
	line-heigth: 30px;
	font-size: 1.4em;
	}

main .maincol button {
	padding: 7px 20px;
	border-radius: 16px;
	border: 1px solid #707070;
	}

main .maincol button:hover {
	background: #707070;
	color: #fff;
	cursor: pointer;
	}

main .maincol .item-box-detail{
	deisplay: flex;
}

main .maincol .item-box-detail .item-img{
	width: 300px;
	border-radius: unset;
	border: none;
	object-fit: cover;
}

main maincol .item-box-detail .detail-container{
	color:#707070;
	line-height:30px;
	font-size: 1.2em;
	margin-left: 20px;
}

footer{
    width: 100%;
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer ul{
    padding: 15px 10%;
    list-style-type: none;
    display: flex;
}

footer ul li{
    width:33.3%;
    padding: 10px 0;
    border-right: 2px solid #fff;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
}

