#main .search-result h4.san-LE { background-color: #6699CC; }
#main .search-result h4.san-SR { background-color: #FF9A00; }
#main .search-result h4.san-R { background-color: #CC6699; }
#main .search-result h4.san-UC { background-color: #494949; }
#main .search-result h4.san-C { background-color: #93949F; }
#main .search-result h4.san-EX { background-color: #9933FF; }
#main .search-result h4.san-ST { background-color: #663300; }
#main .search-result h4.san-BLE { background-color: #99CC33; }
#main .search-result h4.sen-SS { background-color: #6699CC; }
#main .search-result h4.sen-BSS { background-color: #00CC66; }
#main .search-result h4.sen-SR { background-color: #FF9A00; }
#main .search-result h4.sen-R { background-color: #CC6699; }
#main .search-result h4.sen-UC { background-color: #494949; }
#main .search-result h4.sen-C { background-color: #93949F; }
#main .search-result h4.sen-SJK { background-color: #00CC66; }
#main .search-result h4.sen-EX { background-color: #9933FF; }
#main .search-result h4.lov-UR { background-color: #6699CC; }
#main .search-result h4.lov-SR { background-color: #FF9A00; }
#main .search-result h4.lov-R { background-color: #CC6699; }
#main .search-result h4.lov-UC { background-color: #494949; }
#main .search-result h4.lov-C { background-color: #93949F; }
#main .search-result h4.lov-S-C { background-color: #93949F; }
#main .search-result h4.lov-EXC { background-color: #FF9900; }
#main .search-result h4.lov-SP { background-color: #9933FF; }
#main .search-result h4.lov-PR { background-color: #9933FF; }
#main .search-result h4.lov-PC { background-color: #99CC33; }
#main .search-result h4.wccf-KIRA { background-color: #6699CC; }
#main .search-result h4.wccf-KURO { background-color: #494949; }
#main .search-result h4.wccf-SHIRO { background-color: #93949F; }
#main .search-result h4.wccf-EX { background-color: #9933FF; }
#main .search-result h4.santcg-TMR { background-color: #6699CC; }
#main .search-result h4.santcg-SR { background-color: #FF9A00; }
#main .search-result h4.santcg-R { background-color: #CC6699; }
#main .search-result h4.santcg-UC { background-color: #494949; }
#main .search-result h4.santcg-C { background-color: #93949F; }
#main .search-result h4.santcg-PR { background-color: #9933FF; }
#main .search-result h4.ws-SP { background-color: #6699CC; }
#main .search-result h4.ws-RRR { background-color: #00CC66; }
#main .search-result h4.ws-SR { background-color: #FF9A00; }
#main .search-result h4.ws-RR { background-color: #FF6633; }
#main .search-result h4.ws-R { background-color: #CC6699; }
#main .search-result h4.ws-U { background-color: #494949; }
#main .search-result h4.ws-C { background-color: #93949F; }
#main .search-result h4.ws-CR { background-color: #CC6699; }
#main .search-result h4.ws-CC { background-color: #93949F; }
#main .search-result h4.ws-TD { background-color: #99CC33; }
#main .search-result h4.ws-RE { background-color: #99CC33; }
#main .search-result h4.ws-S-R { background-color: #CC6699; }
#main .search-result h4.ws-S-C { background-color: #93949F; }
#main .search-result h4.ws-S-CC { background-color: #93949F; }
#main .search-result h4.ws-S-TD { background-color: #99CC33; }
#main .search-result h4.ws-PR { background-color: #9933FF; }
#main .search-result h4.chaos-SP { background-color: #6699CC; }
#main .search-result h4.chaos-SPP { background-color: #6699CC; }
#main .search-result h4.chaos-RRR { background-color: #00CC66; }
#main .search-result h4.chaos-SR { background-color: #FF9A00; }
#main .search-result h4.chaos-SC { background-color: #93949F; }
#main .search-result h4.chaos-RR { background-color: #FF6633; }
#main .search-result h4.chaos-R { background-color: #CC6699; }
#main .search-result h4.chaos-U { background-color: #494949; }
#main .search-result h4.chaos-C { background-color: #93949F; }
#main .search-result h4.chaos-T { background-color: #99CC33; }
#main .search-result h4.chaos-SE { background-color: #9933FF; }
#main .search-result h4.chaos-S-T { background-color: #99CC33; }
#main .search-result h4.chaos-S-P { background-color: #9933FF; }
#main .search-result h4.chaos-PR { background-color: #9933FF; }
#main .search-result h4.chaos-P { background-color: #9933FF; }
#main .search-result h4.vg-SP { background-color: #6699CC; }
#main .search-result h4.vg-RRR  { background-color: #00CC66; }
#main .search-result h4.vg-RR { background-color: #FF6633; }
#main .search-result h4.vg-R { background-color: #CC6699; }
#main .search-result h4.vg-C { background-color: #93949F; }
#main .search-result h4.vg-S-TD { background-color: #99CC33; }
#main .search-result h4.vg-TD { background-color: #99CC33; }
#main .search-result h4.vg-FD { background-color: #494949; }
#main .search-result h4.vg-PR { background-color: #9933FF; }
#main .search-result h4.mc-SP { background-color: #6699CC; }
#main .search-result h4.mc-VF { background-color: #6699CC; }
#main .search-result h4.mc-S-SR { background-color: #FF9A00; }
#main .search-result h4.mc-SR { background-color: #FF9A00; }
#main .search-result h4.mc-R { background-color: #CC6699; }
#main .search-result h4.mc-U { background-color: #494949; }
#main .search-result h4.mc-C { background-color: #93949F; }
#main .search-result h4.mc-RR { background-color: #FF6633; }
#main .search-result h4.mc-TD { background-color: #99CC33; }
#main .search-result h4.mc-S-R { background-color: #CC6699; }
#main .search-result h4.mc-S-U { background-color: #494949; }
#main .search-result h4.mc-S-C { background-color: #93949F; }
#main .search-result h4.mc-PR { background-color: #9933FF; }
#main .search-result h4.pm-SP { background-color: #6699CC; }
#main .search-result h4.pm-S-TD { background-color: #99CC33; }
#main .search-result h4.pm-SR { background-color: #FF9A00; }
#main .search-result h4.pm-TD { background-color: #99CC33; }
#main .search-result h4.pm-R { background-color: #CC6699; }
#main .search-result h4.pm-UC { background-color: #494949; }
#main .search-result h4.pm-C { background-color: #93949F; }
#main .search-result h4.pm-P-R { background-color: #CC6699; }
#main .search-result h4.pm-P-UC { background-color: #494949; }
#main .search-result h4.pm-P-C { background-color: #93949F; }
#main .search-result h4.pm-PR { background-color: #9933FF; }
#main .search-card-title p.san-LE:before { background-color: #6699CC; }
#main .search-card-title p.san-SR:before { background-color: #FF9A00; }
#main .search-card-title p.san-R:before { background-color: #CC6699; }
#main .search-card-title p.san-UC:before { background-color: #494949; }
#main .search-card-title p.san-C:before { background-color: #93949F; }
#main .search-card-title p.san-EX:before { background-color: #9933FF; }
#main .search-card-title p.san-ST:before { background-color: #663300; }
#main .search-card-title p.san-BLE:before { background-color: #99CC33; }
#main .search-card-title p.sen-SS:before { background-color: #6699CC; }
#main .search-card-title p.sen-BSS:before { background-color: #00CC66; }
#main .search-card-title p.sen-SR:before { background-color: #FF9A00; }
#main .search-card-title p.sen-R:before { background-color: #CC6699; }
#main .search-card-title p.sen-UC:before { background-color: #494949; }
#main .search-card-title p.sen-C:before { background-color: #93949F; }
#main .search-card-title p.sen-SJK:before { background-color: #00CC66; }
#main .search-card-title p.sen-EX:before { background-color: #9933FF; }
#main .search-card-title p.lov-UR:before { background-color: #6699CC; }
#main .search-card-title p.lov-SR:before { background-color: #FF9A00; }
#main .search-card-title p.lov-R:before { background-color: #CC6699; }
#main .search-card-title p.lov-UC:before { background-color: #494949; }
#main .search-card-title p.lov-C:before { background-color: #93949F; }
#main .search-card-title p.lov-S-C:before { background-color: #93949F; }
#main .search-card-title p.lov-EXC:before { background-color: #FF9900; }
#main .search-card-title p.lov-SP:before { background-color: #9933FF; }
#main .search-card-title p.lov-PR:before { background-color: #9933FF; }
#main .search-card-title p.lov-PC:before { background-color: #99CC33; }
#main .search-card-title p.wccf-KIRA:before { background-color: #6699CC; }
#main .search-card-title p.wccf-KURO:before { background-color: #494949; }
#main .search-card-title p.wccf-SHIRO:before { background-color: #93949F; }
#main .search-card-title p.wccf-EX:before { background-color: #9933FF; }
#main .search-card-title p.santcg-TMR:before { background-color: #6699CC; }
#main .search-card-title p.santcg-SR:before { background-color: #FF9A00; }
#main .search-card-title p.santcg-R:before { background-color: #CC6699; }
#main .search-card-title p.santcg-UC:before { background-color: #494949; }
#main .search-card-title p.santcg-C:before { background-color: #93949F; }
#main .search-card-title p.santcg-PR:before { background-color: #9933FF; }
#main .search-card-title p.ws-SP:before { background-color: #6699CC; }
#main .search-card-title p.ws-RRR:before { background-color: #00CC66; }
#main .search-card-title p.ws-SR:before { background-color: #FF9A00; }
#main .search-card-title p.ws-RR:before { background-color: #FF6633; }
#main .search-card-title p.ws-R:before { background-color: #CC6699; }
#main .search-card-title p.ws-U:before { background-color: #494949; }
#main .search-card-title p.ws-C:before { background-color: #93949F; }
#main .search-card-title p.ws-CR:before { background-color: #CC6699; }
#main .search-card-title p.ws-CC:before { background-color: #93949F; }
#main .search-card-title p.ws-TD:before { background-color: #99CC33; }
#main .search-card-title p.ws-RE:before { background-color: #99CC33; }
#main .search-card-title p.ws-S-R:before { background-color: #CC6699; }
#main .search-card-title p.ws-S-C:before { background-color: #93949F; }
#main .search-card-title p.ws-S-CC:before { background-color: #93949F; }
#main .search-card-title p.ws-S-TD:before { background-color: #99CC33; }
#main .search-card-title p.ws-PR:before { background-color: #9933FF; }
#main .search-card-title p.chaos-SP:before { background-color: #6699CC; }
#main .search-card-title p.chaos-SPP:before { background-color: #6699CC; }
#main .search-card-title p.chaos-RRR:before { background-color: #00CC66; }
#main .search-card-title p.chaos-SR:before { background-color: #FF9A00; }
#main .search-card-title p.chaos-SC:before { background-color: #93949F; }
#main .search-card-title p.chaos-RR:before { background-color: #FF6633; }
#main .search-card-title p.chaos-R:before { background-color: #CC6699; }
#main .search-card-title p.chaos-U:before { background-color: #494949; }
#main .search-card-title p.chaos-C:before { background-color: #93949F; }
#main .search-card-title p.chaos-T:before { background-color: #99CC33; }
#main .search-card-title p.chaos-SE:before { background-color: #9933FF; }
#main .search-card-title p.chaos-S-T:before { background-color: #99CC33; }
#main .search-card-title p.chaos-S-P:before { background-color: #9933FF; }
#main .search-card-title p.chaos-PR:before { background-color: #9933FF; }
#main .search-card-title p.chaos-P:before { background-color: #9933FF; }
#main .search-card-title p.vg-SP:before { background-color: #6699CC; }
#main .search-card-title p.vg-RRR:before  { background-color: #00CC66; }
#main .search-card-title p.vg-RR:before { background-color: #FF6633; }
#main .search-card-title p.vg-R:before { background-color: #CC6699; }
#main .search-card-title p.vg-C:before { background-color: #93949F; }
#main .search-card-title p.vg-S-TD:before { background-color: #99CC33; }
#main .search-card-title p.vg-TD:before { background-color: #99CC33; }
#main .search-card-title p.vg-FD:before { background-color: #494949; }
#main .search-card-title p.vg-PR:before { background-color: #9933FF; }
#main .search-card-title p.mc-SP:before { background-color: #6699CC; }
#main .search-card-title p.mc-VF:before { background-color: #6699CC; }
#main .search-card-title p.mc-S-SR:before { background-color: #FF9A00; }
#main .search-card-title p.mc-SR:before { background-color: #FF9A00; }
#main .search-card-title p.mc-R:before { background-color: #CC6699; }
#main .search-card-title p.mc-U:before { background-color: #494949; }
#main .search-card-title p.mc-C:before { background-color: #93949F; }
#main .search-card-title p.mc-RR:before { background-color: #FF6633; }
#main .search-card-title p.mc-TD:before { background-color: #99CC33; }
#main .search-card-title p.mc-S-R:before background-color: #CC6699; }
#main .search-card-title p.mc-S-U:before { background-color: #494949; }
#main .search-card-title p.mc-S-C:before { background-color: #93949F; }
#main .search-card-title p.mc-PR:before { background-color: #9933FF; }
#main .search-card-title p.pm-SP:before { background-color: #6699CC; }
#main .search-card-title p.pm-S-TD:before { background-color: #99CC33; }
#main .search-card-title p.pm-SR:before { background-color: #FF9A00; }
#main .search-card-title p.pm-TD:before { background-color: #99CC33; }
#main .search-card-title p.pm-R:before { background-color: #CC6699; }
#main .search-card-title p.pm-UC:before { background-color: #494949; }
#main .search-card-title p.pm-C:before { background-color: #93949F; }
#main .search-card-title p.pm-P-R:before { background-color: #CC6699; }
#main .search-card-title p.pm-P-UC:before { background-color: #494949; }
#main .search-card-title p.pm-P-C:before { background-color: #93949F; }
#main .search-card-title p.pm-PR:before { background-color: #9933FF; }
